{% extends 'base.html' %}

{% block content %}
    <section class="section column is-half is-offset-one-quarter">
        <h1 class="title has-text-centered">Entrar</h1>
        <form action="{{ url_for('webui_auth.resend_email') }}" method="post">
            {{ form.csrf_token }}
            <div class="field">
                <label class="label">{{ form.username.label }}</label>
                <div class="control">
                    {{ form.username(class="input is-rounded") }}
                    {% for error in form.username.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>

            <div class="control">
                {{ form.submit(class="button is-link is-rounded") }}
            </div>
        </form>
    </section>
{% endblock %}